includes:
	- vendor/nunomaduro/larastan/extension.neon
	- vendor/lychee-org/phpstan-lychee/phpstan.neon

parameters:
	paths:
		- src
	ignoreErrors:
		# bunch of false positives from Eloquent
		- '#Dynamic call to static method (Illuminate\\Database\\Query\\Builder|Illuminate\\Database\\Eloquent\\(Builder|Relations\\.*)|Kalnoy\\Nestedset\\QueryBuilder)(<.*>)?::\w+\(#'

